.shared_main {
  height: 100%;
  width: 100%;
  padding-bottom: 40px;

  .header_main {
    margin: auto;
    text-align: center;
    height: 70px;
    width: 800px;

    .title {
      line-height: 35px;
      font-size: 25px;
      font-family: unset;
      padding-top: 35px;
      color: #333;
      display: inline-block;
      .fire {
        color: rgb(207, 64, 64);
        font-size: 30px;
      }
    }
  }
}