.header-main {
  background: linear-gradient(25deg, rgba(255, 0, 0, 0.4), rgba(0, 143, 200, 0.603));
  height: 70px;
  display: block;

  .title {
    line-height: 35px;

    .you-fireworks{
    text-decoration: none;
    font-size: 25px;
    font-family: unset;
    margin-left: 50px;
    padding-top: 20px;
    color:yellow;
    display: inline-block;
}
    .fire-icon {
      color: rgb(207, 64, 64);
      font-size: 30px;
    }}
  
  .topic {
    display: flex;
    float:right;
    color: #333;
    font-size: 15px;
    position: relative;
    bottom: 10px;
    padding-top:50px;

    .diagnosis{
    margin-left: auto;
    margin-right: auto;
    }}

  .nickname {
      font-size: 20px;
    }
  .logout {
    float:right;

    .logout-icon {
      // padding-right: 10px;
      color: #ccc;
      font-size: 20px;
    }
  }

  .signup {
    float:right;
    // margin-right: 50px;
    .login-icon {
      padding-right: 10px;
      color: #ccc;
      font-size: 20px;
    }
    }
  .login{
    float:right;
    margin-right:50px;
  }
  }