#resultbox{
// margin-bottom: 500px;
text-align: center;
}

.hidden_result{
  display:block;
}


#result1,#result2,#result3,#result4,#result5,#result6{
  display:none;

}

// .fireworks{
  
//     opacity: 0;
//     transition: .7s;
//   }
//   .fireworks.show {
//     opacity: 1;
//   }

// #result1,#result2,#result3,#result4,#result5,#result6.show{
//   opacity: 1;
// }
