ul li {
	padding: 17px 0px 0px 60px;
	background: url(5895d31bcba9841eabab607f.png)no-repeat 0 0;
	width: 290px;
	height: 33px;
	_width: 350px;
	_height: 50px;
	cursor:pointer;
	color:#333;
	background-position: 0px -20px;
}

ul li:hover {
	background-position: 0px -50px;
}

ul li.selected {
	background-position: 0px -100px;

}

.qbox {
	width:600px;
	margin:0px 50px 0px 0px;
	height:350px;
	float:left;
}

#qArea{
	overflow:hidden;
	width:700px;
	height:5px;
}

#qContainer {
	margin:0px 0px 0px 50px;
	width:4100px;
	position:relative;
}