.shared-main{
height:100px;
width:100vw;
}
  .shared-header-main{
    padding-top:30px;
    text-align: center;
  }
    
    .shared-fire-icon{
      font-size: 30px;
      text-decoration-line: none;
      color: rgb(207, 64, 64);
    }
    .shared-title{
     
      font-size: 30px;
      text-decoration-line: none;
      color: rgb(207, 64, 64);
  }